html {

    font-size: 62.5%;

}

body {

    margin: 0px;
    background-color: #784421;
    font-size: 1.6rem;
    font-family: monospace;
    text-align: center;
    color: #DDD;

}

header {

    overflow: hidden;

}

.header-img {

    height: auto;
    width: 100vw;

}

.bw-text-card {

    color: black;
    background-color: white;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    box-shadow: 2vw 2vw 0.5vw 0.5vw rgba(0, 0, 0, 0.3);

}

.padding-5vw {

    padding: 5vw;

}

.padding-0-5vw {

    padding: 0 5vw;

}

.padding-0-15vw {

    padding: 0 15vw;

}

.margin-5vw {

    margin: 5vw;

}

.margin-15vw {

    margin: 15vw;

}

.margin-0-5vw {

    margin: 0 5vw;

}

main {

    background-color: #784421;

}

footer {

    padding: 10vw;

}

.justify-text {

    text-align: justify;
    text-justify: auto;

}

.left-align-text {

    text-align: left;
    text-justify: auto;

}